body{
  font-family: 'Josefin Slab', serif;
  font-size: 16px;
  color: #ffffff;
}
.container{
  max-width: 1110px;
  margin:0 auto;
}
@media(max-width:1200px){
  .container{
    max-width: 900px;
  }
}
@media(max-width:950px){
  .container{
    max-width: 650px;
  }
}
@media(max-width:700px){
  .container{
    max-width: 420px;
  }
}
@media(max-width:450px){
  .container{
    max-width: 300px;
  }
}


/*---BANNER---*/
.banner {
  padding:20px 0 142px;
  background: url(img/banner.png) center/cover no-repeat;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 165px;
  margin-bottom: 130px;
}
.sticky{
  padding: 10px 100px;
  background-color: rgba(0,0,0,0.93);
  transition: background-color 0.5s;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}
.header__logo {
  width: 77%;
}
.header__logo:hover{
  filter: drop-shadow(4px 4px 1px rgba(251, 82, 49, 0.4));
  transition: all 0.5s;
}
.nav__icon {
	display: none;
}
.header__nav-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__nav-link {
  margin: 0 20px;
  font-size: 18px;
  color: #ffffff;
}
.header__nav-link:hover{
  color: #fb5231;
  transition: all 0.5s;
}
.banner_title {
  max-width: 760px;
  margin: 0 auto;
  font-family: 'Marck Script', cursive;
  font-size: 90px;
  color: #ffffff;
  line-height: 1.2;
  text-align: center;
  text-shadow: 1px 1px 2px rgba(1, 1, 1, 0.64);
}
.banner_title::after{
  content: "";
  display: block;
  width: 232px;
  height: 43px;
  margin: 14px auto 34px;
  background: url(img/decoration/Decoration.png) center no-repeat;
}
.banner__buttons {
  max-width: 490px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.banner__btn {
  color: #ffffff;
  border: 1px solid #ffffff;
}
.btn {
  width: 228px;
  padding: 18px 0;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.3);
}
.banner__btn:hover{
  background-color: rgba(251, 82, 49, 0.4);
  border: 1px solid rgba(251, 82, 49, 0.4);
  transition: all 0.5s;
}

@media(max-width:1200px){
  .banner {
    padding:20px 0 142px;
  }
  .header {
    margin-bottom: 120px;
    padding: 15px 80px;
  }
  .sticky{
    padding: 10px 80px;
  }
  .header__logo {
    width: 70%;
  }
  .header__nav-link {
    margin: 0 12px;
    font-size: 18px;
  }
  .banner_title {
    font-size: 80px;
  }
  .banner__buttons {
    max-width: 470px;
  }
  .btn {
    width: 210px;
  }
}
@media(max-width:950px){
  .banner {
    padding:20px 0 110px;
  }
  .header {
    margin-bottom: 90px;
  }
  .sticky{
    padding: 10px 70px;
  }
  .header__logo {
    width: 60%;
  }
  .nav__icon {
		display: block;
		position: relative;
		width: 30px;
		height: 20px;
		position: relative;
		z-index: 3;
	}
	.nav__icon span{
		position: absolute;
		background-color: #fff;
		position: absolute;
		left: 0;
		width: 100%;
		height: 2px;
		top: 9px;
		transition: all 0.3s ease 0s;
	}
	.nav__icon:before,
	.nav__icon:after{
		content: '';
		background-color: #fff;
		position: absolute;
		width: 100%;
		height: 2px;
		left: 0;
		transition: all 0.3s ease 0s;
	}
	.nav__icon:before{
		top: 0;
	}
	.nav__icon:after{
		bottom: 0;
	}
	.nav__icon.active span{
		transform: scale(0);
	}
	.nav__icon.active:before{
		transform:rotate(45deg);
		top: 9px;
	}
	.nav__icon.active:after{
		transform:rotate(-45deg);
		bottom: 9px;
	}
	.nav__body {
		position: fixed;
		top: -100%;
		left: 0;
		width: 100%;
		height: 100%;
		overflow: auto;
		transition: all 0.3s ease 0s;
		background-color:rgba(0, 0, 0, 0.95);
		padding: 120px 10px 20px 50px;
	}
	.nav__body.active{
		top: 0;
	}
	.header__nav-list {
		display: block;
	}
	.header__nav-list li{
    position: relative;
		margin: 0px 0px 20px 0px;
	}
	.header__nav-link {
		font-size: 24px;
	}
  .banner_title {
    font-size: 70px;
  }
  .banner_title::after{
    width: 200px;
    height: 43px;
    margin: 14px auto 34px;
  }
  .banner__buttons {
    max-width: 380px;
  }
  .btn {
    width: 170px;
    padding: 16px 0;
    font-size: 16px;
  }
}

@media(max-width:700px){
  .banner {
    padding:15px 0 85px;
  }
  .header {
    margin-bottom: 50px;
    padding: 10px 40px;
  }
  .header__logo {
    width: 50%;
  }
  .sticky{
    padding: 10px 40px;
  }
  .banner_title {
    font-size: 40px;
  }
  .banner_title::after{
    width: 150px;
    margin: 14px auto 30px;
  }
  .banner__buttons {
    max-width: 300px;
  }
  .btn {
    width: 130px;
  }
}
@media(max-width:450px){
  .banner {
    padding:15px 0 80px;
  }
  .header {
    margin-bottom: 40px;
    padding: 10px 20px;
  }
  .sticky{
    padding: 10px 20px;
  }
  .header__logo {
    width: 45%;
  }
  .banner_title {
    font-size: 30px;
  }
  .banner_title::after{
    width: 150px;
    margin: 14px auto 30px;
  }
  .banner__buttons {
    max-width: 270px;
  }
  .btn {
    width: 110px;
    padding: 14px 0;
    font-size: 14px;
  }
}

/*---ABOUT---*/
.about {
  padding: 110px 0;
  background: url(img/bg1.png) center/cover no-repeat;
}
.about__content {
  max-width: 505px;
  margin:0 auto;
}
.section__title {
  font-family: 'Marck Script', cursive;
  font-size: 36px;
  text-align: center;
}
.section__title::after{
  content: "";
  display: block;
  width: 247px;
  height: 24px;
  margin: 10px auto 32px;
  background: url(img/decoration/Divider.png) center no-repeat;
}
.about__title {
  color: #fb5231;
}
.about__text {
  margin-bottom: 43px;
  color: #4c4c4c;
  text-align: center;
}
.text {
  line-height: 24px;
}
.about__img {
  display: block;
  margin:0 auto;
}
@media(max-width:950px){
  .about {
    padding: 80px 0;
  }
}
@media(max-width:700px){
  .about {
    padding: 80px 0;
  }
  .section__title {
    font-size: 30px;
  }
  .section__title::after{
    width: 200px;
    margin: 8px auto 20px;
  }
  .about__content {
    max-width: 400px;
  }
}
@media(max-width:450px){
  .about {
    padding: 50px 0;
  }
  .section__title {
    font-size: 30px;
  }
  .about__content {
    max-width: 300px;
  }
}

/*---INGREDIENTS---*/
.ingredients__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.ingredients__img {
  width: 50%;
}
.ingredients__info {
  width: 50%;
  padding: 180px 0 165px;
  background: url(img/bg.png) center/cover no-repeat;
}
.ingredients__title::after {
  background: url(img/decoration/Divider2.png) center no-repeat;
}
.ingredients__text {
  max-width: 395px;
  margin:0 auto 35px;
  text-align: center;
}
.ingredients__info-images {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 395px;
  margin:0 auto;
}
.info-images__item{
  width: 30%;
}

@media(max-width:1200px){
  .ingredients__info {
    padding: 150px 0 135px;
  }
  .ingredients__text {
    max-width: 335px;
    margin:0 auto 35px;
  }
  .ingredients__info-images {
    max-width: 335px;
  }
}
@media(max-width:950px){
  .ingredients__info {
    width: 55%;
    padding: 120px 0 105px;
  }
  .ingredients__img {
    width: 45%;
  }
  .ingredients__text {
    max-width: 305px;
    margin:0 auto 35px;
  }
  .ingredients__info-images {
    max-width: 305px;
  }
}
@media(max-width:700px){
  .ingredients__content {
    justify-content: center;
  }
  .ingredients__info {
    width: 95%;
    padding: 80px 0 70px;
  }
  .ingredients__img {
    display: none;
  }
  .ingredients__text {
    max-width: 305px;
    margin:0 auto 35px;
  }
  .ingredients__info-images {
    max-width: 305px;
  }
}
@media(max-width:450px){
  .ingredients__info {
    padding: 60px 0 50px;
  }
}

/*---MENU---*/
.menu {
  padding: 110px 0 88px;
  background: url(img/bg2.png) center/cover no-repeat;
}
.menu__content{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.menu__loyout {
  width: 45%;
}
.menu__section {
  margin-bottom: 60px;
}
.menu__section:last-child {
  margin-bottom: 0;
}
.menu__item {
  margin-bottom: 18px;
  padding-bottom: 11px;
  border-bottom: 1px solid  rgba(251, 82, 49, 0.5);
}
.menu__item:last-child {
  border-bottom: none;
}
.menu__item-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
}
.dish-name,
.dish-price {
  font-size: 21px;
  font-weight: 600;
}


@media(max-width:1200px){
  .menu {
    padding: 90px 0 68px;
  }
}
@media(max-width:950px){
  .menu {
    padding: 70px 0 58px;
  }
}
@media(max-width:700px){
  .menu {
    padding: 70px 0 38px;
  }
  .menu__content{
    flex-wrap: wrap;
    justify-content: center;
  }
  .menu__loyout {
    width: 95%;
  }
  .menu__section {
    margin-bottom: 40px;
  }
  .menu__section:last-child {
    margin-bottom: 40px;
  }
}
@media(max-width:450px){
  .menu {
    padding: 50px 0 25px;
  }
  .menu__section {
    margin-bottom: 30px;
  }
  .menu__section:last-child {
    margin-bottom: 30px;
  }
}

/*---REVIEWS---*/
.reviews {
  padding: 136px 0 160px;
}
.reviews__title {
  color: #333333;
}
.reviews__title::before{
  content: "";
  display: block;
  width: 296px;
  height: 92px;
  margin:0 auto 34px;
  background: url(img/Layer_14.png) no-repeat;
}
.reviews__content{
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.slider {
  max-width: 80%;
  margin:0 auto;
  overflow: hidden;
}
.slider__content {
  width: 2550px;
  display: flex;
  position: relative;
  left: 0;
  transition: all ease 1s;
}
.slider__item {
  color: #1a1f3b;
  text-align: center;
}
.slider__reviews-text {
  font-size: 25px;
  margin-bottom: 50px;
}
.slider__author-text {
  font-size: 41px;
  font-family: 'Marck Script', cursive;
}
.slider__author-text::after {
  content: "★★★★★";
  display: block;
  font-size: 28px;
  margin: 19px auto 0;
  color:#fac917;
}
.slider__prev,
.slider__next {
  font-size: 30px;
}

@media(max-width:1200px){
  .reviews {
    padding: 100px 0 120px;
  }
  .slider__reviews-text {
    font-size: 22px;
    margin-bottom: 35px;
  }
  .slider__author-text {
    font-size: 33px;
  }
}
@media(max-width:950px){
  .reviews {
    padding: 80px 0 100px;
  }
  .slider__reviews-text {
    font-size: 20px;
    margin-bottom: 35px;
  }
  .slider__author-text {
    font-size: 30px;
  }
}
@media(max-width:950px){
  .reviews {
    padding: 80px 0 100px;
  }
  .slider__reviews-text {
    font-size: 20px;
    margin-bottom: 35px;
  }
  .slider__author-text {
    font-size: 30px;
  }
  .slider__author-text::after {
    font-size: 24px;
  }
}
@media(max-width:700px){
  .reviews {
    padding: 60px 0 80px;
  }
  .reviews__title::before{
    margin:0 auto 24px;
  }
  .slider__reviews-text {
    font-size: 18px;
    margin-bottom: 20px;
  }
  .slider__author-text {
    font-size: 26px;
  }
  .slider__author-text::after {
    font-size: 22px;
  }
}
@media(max-width:450px){
  .reviews {
    padding: 40px 0 50px;
  }
  .reviews__title::before{
    margin:0 auto 20px;
  }
  .slider__reviews-text {
    font-size: 16px;
    margin-bottom: 15px;
  }
  .slider__author-text {
    font-size: 20px;
  }
  .slider__author-text::after {
    font-size: 20px;
  }
}

/*----BOOKING---*/
.booking {
  padding: 100px 0;
  background: url(img/bg3.png) center/cover no-repeat;
}
.booking__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.booking__images {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.booking__img {
  width: 48%;
}
.booking__info {
  width: 60%;
}
.booking__title {
  color: #fb5231;
}
.booking__text {
  max-width: 400px;
  margin: 0 auto 94px;
  color: #4c4c4c;
  text-align: center;
}
.booking__form {
  max-width: 430px;
  margin: 0 auto;
}
.form-fieldset {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 430px;
  margin: 0 auto 30px;
}
.form-item{
  display: flex;
  flex-direction: column;
  width: 47%;
}
.form-input {
  width: 100%;
  height: 36px;
  padding-left: 15px;
  color: #7c7c7c;
  font-family: inherit;
  border: 1px solid #c8c6c6;
}
.form-input:focus{
  border: 1px solid #fb5231;
}
.form-label{
  margin-bottom: 6px;
  font-weight: 500;
  color: #fb5231;
}
.form-btn{
  display: block;
  width: 200px;
  padding: 10px 0;
  margin: 0 auto;
  color: #ffffff;
  font-weight: 600;
  background-color: #fb5231;
}
.form-btn:hover{
  color: #fb5231;
  background-color: #ffffff;
  border: 1px solid #fb5231;
  transition: all 0.5s;
}

@media(max-width:1200px){
  .booking {
    padding: 80px 0;
  }
  .booking__images {
    width: 35%;
  }
  .booking__text {
    margin: 0 auto 54px;
  }
}
@media(max-width:950px){
  .booking {
    padding: 60px 0;
  }
  .form-fieldset {
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto 25px;
  }
  .form-item{
    width: 90%;
    margin-bottom: 15px;
  }
  .booking__text {
    margin: 0 auto 34px;
  }
  .form-fieldset {
    margin: 0 auto;
  }
}
@media(max-width:950px){
  .booking {
    padding: 50px 0;
  }
  .booking__content {
    justify-content: center;
  }
  .booking__images{
    display: none;
  }
  .booking__info {
    width: 90%;
  }
  .booking__text {
    margin: 0 auto 20px;
  }
}

/*---FOOTER---*/
.footer {
  padding: 60px 0;
  background: url(img/base.png) center/cover no-repeat;
}
.footer__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}
.footer__item{
  width: 20%;
}
.footer__item-icon {
  display: block;
  max-width: 20px;
  margin: 0 auto 18px;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
}
.footer__link {
  display: block;
  color: #969595;
  font-weight: 600;
  letter-spacing: 0.52px;
  text-align: center;
}
.footer__link:hover {
  color: #fb5535;
  transition: all 0.5s;
}
.footer__logo {
  display: block;
  margin:0 auto 36px;
}
.socials {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.social__link {
  width: 34px;
  height: 33px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1a1e36;
  border-radius: 50%;
}
.social__icon {
  font-size: 14px;
  color: #6b6b6b;
}
.social__link:hover{
  background-color: #fb5535;
  transition:all 0.5s;
}
.social__link:hover .social__icon{
  color: #ffffff;
  transition:all 0.5s;
}
.copyright {
  color: #969595;
  text-align: center;
}
.footer-text {
  max-width: 192px;
  color: #969595;
  font-weight: 600;
  letter-spacing: 0.52px;
  text-align: center;
}

@media(max-width:950px){
  .footer {
    padding: 40px 0;
  }
  .footer__item{
    width: 27%;
  }
}
@media(max-width:950px){
  .footer {
    padding: 40px 0;
  }
  .footer__logo {
    width: 80%;
  }
}
@media(max-width:700px){
  .footer {
    padding: 40px 0;
  }
  .footer__content{
    flex-direction: column;
    margin-bottom: 0;
  }
  .footer__item{
    width: 50%;
    margin-bottom: 35px;
  }
  .footer__logo {
    margin-bottom: 20px;
  }
}